<h3> Teacher </h3>

<p style="margin-left: 30px; color:green"><%= flash[:changed_successfully] %></p>
<p style="margin-left: 30px; color:red"><%= flash[:change_failed] %></p>

<ul>
	<li>
		<%= button_to "Add Course", new_teacher_user_course_path, class: "course", method: :get %>
	</li>
	<li style="margin-left: 30px; margin-top: 20px; margin-bottom: 5px">
		<%= select_tag( 
			"course",
			options_from_collection_for_select(@courses, 'id', 'name')
			)
		%>
	</li>
	
	<button type="button" id='edit_course', style="margin-left: 30px; margin-top: 20px; margin-bottom: 5px">Edit Course</button>
  <%= form_tag(teacher_user_edit_course_path, method: :get, id: :course_edit) do |f| %>
  	<%= hidden_field(:course_to, :edit) %>
  <% end %>

	<button type="button" id='delete_course', style="margin-left: 30px; margin-top: 20px; margin-bottom: 5px">Delete Course</button>
	<%= form_tag(teacher_user_remove_course_path, method: :get, id: :course_delete) do %>
		<%= hidden_field(:course_to, :delete) %>
	<% end %>
<ul>
