<h3> Add Course </h3>

<p style="color:green"><%= flash[:changed_successfully] %></p>
<p style="color:red"><%= flash[:change_failed] %></p>

<% if @course.present? %>
	<%= render 'application/error_messages', object: @course %>
	<%= form_for(@course, url: teacher_user_courses_url, action: 'new') do |f| %>
	  <%= f.label :name %><br />
	  <%= f.text_field :name %><br />
	  <br />
	  <%= f.label :department %><br />
	  <%= f.text_field :department %><br />
	  <br />

	  <%= f.label "Course #" %><br />
	  <%= f.number_field :number %><br />
	  <br />

	  <%= f.label "Course Code" %><br />
	  <%= f.text_field :course_code %><br />
	  <%= f.hidden_field :assignment_data %>
	  <br />

	  <%= f.submit :submit %>
	<% end %>
	
	<br />

	<div class="container">
	  <div id="table" class="table-editable">
	    <span class="table-add glyphicon glyphicon-plus"></span>
	    <table style="margin-left: -80px"class="table">
	      <tr>
	        <th>Assignment</th>
	        <th>Due Date</th>
	        <th>Type</th>
	        <th></th>
	        <th></th>
	      </tr>
	      <tr>
	        <td contenteditable="true" width="150px">Homework #1</td>
	        <td contenteditable="false" width="150px"><input type='date' value='2015-08-22'></input></td>
	        <td contenteditable="false" width="150px">
						<%= select_tag( 
							"assignmenttype",
							options_for_select(AssignmentType.types, AssignmentType.types[1])
							)
						%>
	        </td>
	        <td>
	          <span class="table-remove glyphicon glyphicon-remove"></span>
	        </td>
	        <td>
	          <span class="table-up glyphicon glyphicon-arrow-up"></span>
	          <span class="table-down glyphicon glyphicon-arrow-down"></span>
	        </td>
	      </tr>
	      <!-- This is our clonable table line -->
	      <tr class="hide">
	        <td contenteditable="true" width="150px">Exam #1</td>
	        <td contenteditable="false" width="150px"><input type='date' value='2015-08-22'></input></td>
	        <td contenteditable="false" width="150px">
						<%= select_tag( 
							"assignmenttype",
							options_for_select(AssignmentType.types, AssignmentType.types[0])
							)
						%>
	        </td>
	        <td>
	          <span class="table-remove glyphicon glyphicon-remove"></span>
	        </td>
	        <td>
	          <span class="table-up glyphicon glyphicon-arrow-up"></span>
	          <span class="table-down glyphicon glyphicon-arrow-down"></span>
	        </td>
	      </tr>
	    </table>
	  </div>
	</div>

<% end %>