<h3> Student </h3>

<p style="margin-left: 30px; color:green"><%= flash[:changed_successfully] %></p>
<p style="margin-left: 30px; color:red"><%= flash[:change_failed] %></p>

<%= form_for(@course, url: student_user_courses_url, action: 'new') do |f| %>
  <%= f.label "Course Code" %>
  <%= f.text_field :course_code %>
  <%= f.submit "Add Course" %>
<% end %>
<div style="margin-left: 25px; margin-top: 10px">
<%= select_tag( 
	"student-select-course",
	options_for_select(@course_links),
	prompt: "- Select a Course - " 
	)
%>

<% if @course_data.present? %>
	<%= select_tag( 
		"select-assignmenttype",
		options_for_select(AssignmentType.types),
		prompt: "All Assignments" 
		)
	%>
	<table style="margin-top: 15px" class="table" id="assignment_table">
		<tr id='header'>
      <th width="150px">Assignment</th>
      <th width="150px">Due Date
      	<!-- Date Format Tooltip -->
      	<a data-toggle="tooltip" class="tooltipLink" data-original-title="Format: MM/DD/YYYY" style="margin-left: 5px">
				  <span class="glyphicon glyphicon-info-sign"></span>
				  <script type="text/javascript">$("a.tooltipLink").tooltip();</script>
				</a>
      </th>
      <th>Type</th>
    </tr>
  	<% @course_data.each do |assignment_hash| %>
    	<tr>
	      <td width="150px"><%= assignment_hash["assignment"] %></td>
	      <td width="150px">
	      	<%= assignment_hash["due_date"][5..6]+"/"+
	      			assignment_hash["due_date"][8..9]+"/"+
	      			assignment_hash["due_date"][0..3]%></td>
	      <td><%= assignment_hash["type"] %></td>
    	</tr>
    <% end %>
	</table>
<% end %>

</div>
