<h3>Student Sign up</h3>

<div class="row">
  <div class="col-xs-6 col-md-4">
    <%= form_for(@user, url: student_signup_path, method: :get) do |f| %>
      <%= render 'application/error_messages', object: @user %>
      <%= f.label :name, style: "margin-top: 15px" %>
      <%= f.text_field :name, class: 'form-control'  %>

      <%= f.label :email, style: "margin-top: 15px" %>
      <%= f.email_field :email, class: 'form-control'  %>

      <%= f.label :password, style: "margin-top: 15px" %>
      <%= f.password_field :password , class: 'form-control' %>

      <%= f.label :password_confirmation, "Password Confirmation", style: "margin-top: 15px" %>
      <%= f.password_field :password_confirmation, class: 'form-control'  %>

      <%= f.hidden_field :category, {:value => UserType::STUDENT} %>

      <%= f.submit "Create my account", class: "btn btn-primary", style: "margin-top: 15px" %>
    <% end %>
  </div>
</div>